<!DOCTYPE html>
<html>
    <head>
        <title>Find Volunteers</title>
        <link rel="stylesheet" href="/styles/shared.css">
        <link rel="stylesheet" href="/styles/find.css">
        <link rel="icon" type="image/x-icon" href="/images/icons/favicon.ico">
    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logos/vh.svg">
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="/find">Find Opportunities</a></li>
                        <li><a href="#">Recruit Volunteers</a></li>
                        <li><a href="/signin">Sign In</a></li>
                    </ul>
                </div>
            </div>
        </header>
        


        <main>
                <div class="searcharea">
                <form>
                    <input type="text" placeholder="Search...">
                    <button type="submit">Search</button>
                </form>
                </div>
        </main>
        
        

        

        <footer>
            <div class="container">
                
                <span class="copyright">
                    <a href="/"> VolunteerHub &copy; </a>
                </span>

                <div class="footer-links">
                    <ul>
                        <li><a href="#" class="hover-underline">About</a></li>
                        <li><a href="#" class="hover-underline">Privacy Policy</a></li>
                        <li><a href="#" class="hover-underline">Licensing</a></li>
                        <li><a href="#" class="hover-underline">Contact</a></li>
                    </ul>
                </div>
                
            </div>
    </footer>
        
    </body>
</html>
