<!DOCTYPE html>
<html>
    <head>
        <title>Find Volunteers</title>
        <link rel="stylesheet" href="../public/styles/shared.css">
        <link rel="stylesheet" href="../public/styles/find.css">

    </head>
    <body>
        <header>
            <div class="navbar">
                <div class="logo">
                    <a href="../views/index.html">
                        <img src="/public/images/logos/vh.svg">
                    </a>
                </div>
                <div class="nav-links">
                    <ul>
                        <li><a href="#">Find Opportunities</a></li>
                        <li><a href="#">Recruit Volunteers</a></li>
                        <li><a href="#">Log in/Sign Up</a></li>
                    </ul>
                </div>
            </div>
        </header>
        
        <div class="searcharea">
            <main>
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit">Search</button>
            </form>
            </main>
        </div>

        

        <footer>
            <p>&copy; 2023 VolunteerHub</p>
        </footer>
        <script src="script.js"></script>
        
    </body>
</html>
