<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../public/styles/shared.css" />
    <link rel="stylesheet"  href="../public/styles/index.css" />
    <link rel="icon" type="image/x-icon" href="/public/images/icons/favicon.ico">
    <title>VolunteerHub</title>
</head>


<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="../views/index.html">
                    <img src="/public/images/logos/vh.svg">
                </a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="../views/find.html">Find Opportunities</a></li>
                    <li><a href="#">Recruit Volunteers</a></li>
                    <li><a href="../views/sign.html">Log in/Sign Up</a></li>
                </ul>
            </div>
        </div>
    </header>
    
    <div class="content">
    <main>
        <p>Find local volunteer opportunities or post your events to request volunteers.</p>
        <a href="volunteer.html">Browse Opportunities</a>
        <a href="organize.html">Organize an Event</a>
    </main>
    </div>
    
    
    <footer>
        <p>&copy; 2023 VolunteerHub</p>
    </footer>
    <script src="script.js"></script>
</body>
</html>
