<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/shared.css">
    <link rel="stylesheet" href="/styles/recruit.css">
    
    <title>Recruit</title>
</head>
<body>
    <header>
        <div class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="/images/logos/vh.svg">
                </a>
            </div>
            <div class="nav-links">
                <ul>
                    <li><a href="/find">Find Opportunities</a></li>
                    <li><a href="/recruit">Recruit Volunteers</a></li>
                    <li><a href="/signin">Sign In</a></li>
                </ul>
            </div>
        </div>
    </header>

    <main>
    <div class="container">
        <form class="signin-form">
            <h2>Event Details</h2>
            <div class="input-container">
                <label for="email">Event</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-container">
                <div class="password-row">
                    <label for="password">Description</label>
                </div>
                <input type="password" id="password" name="password" required>
            </div>
            
            <button type="submit">Submit</button>
        </form>
    </div>
    </main>

    <footer>
        <p> &copy; 2023 VolunteerHub </p>
    </footer>
</body>
</html>