<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="../public/styles/shared.css" />
    <link rel="stylesheet"  href="../public/styles/signup.css" />
    <link rel="icon" type="image/x-icon" href="/public/images/icons/favicon.ico">
    <title>VolunteerHub</title>
</head>
<body>
    <div class="container">
        <form class="signin-form" action="index.html">
            <h2>Create your VolunteerHub Account</h2>
            <div class="input-container">
                <label for="username">Full name</label>
                <input type="text" id="text" name="text" required>
            </div>

            <div class="input-container">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>

            <div class="input-container">
                <div class="password-row">
                    <label for="password">Password</label>
                </div>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="input-container">
                <div class="password-row">
                    <label for="password">Confirm Password</label>
                </div>
                <input type="password" id="password" name="password" required>
            </div>
            <button href = "index.html" type="submit">Create Account</button>
        </form>
    </div>
    
</body>
</html>