/* find.css */


/* Search section */
main {
    padding: 20px;
}

.search-area{
    max-width: 25rem;
    height: 200px;
    margin-bottom: -180px;
}

.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin-left: 360px;
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
    width: 500px;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
}

.filter-icon {
    margin-left: 10px;
    cursor: pointer;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: left;
}

.popup input {
    width: 100%;
    margin-bottom: 10px;
    padding: 8px;
    box-sizing: border-box;
}

.popup button {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1000px) {

    .search-area{
        max-width: 25rem;
        height: 200px;
        margin-bottom: -180px;
    }
    
    .search-bar {
        display: flex;
        margin-left: 210px;
    }

    .popup-content {
        width: 90%;
    }
}



/* Card section */

.card-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.card {
    width: 325px;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px;
    height:  400px;
    max-height: 344px;
}

.card-link {
    text-decoration: none;
    color: #000000;
}

.card img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}

.card-text {
    height: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.card-text h3 {
    font-weight: bold;
    margin-bottom: 10px;
}

.card-text p {
    margin: 5px 0;
}


/* .date-time .time{
    margin-top: 50px;
    margin-bottom:100px ;
} */



.card-text .btn {
    display: inline-block;
    padding: 8px 16px;
    background-color: black;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 16px;
    color: #fff;
}



/* @media screen and (max-width: 768px) {
    .search-area {
        height: auto;
    }

    .search-bar {
        max-width: 100%;
    }
} */




/* @media screen and (max-width: 480px) {
    .search-bar {
        width: 90%;
    }

    .popup-content {
        width: 100%;
    }
} */