main {
    text-align: center;
    margin: 40px 0;
}

main p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.content a{
    display: inline-block;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    margin: 10px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}




