body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

@font-face {
    font-family: customFont1;
    src: url(../fonts/PTSerif-Regular.ttf);
}


.container {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    display: grid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    width: 400px;
}

.signin-form {
    margin: 0 auto;
}

h2 {
    color: #333;
    font-family: customFont1;
}

.input-container {
    margin-bottom: 15px;
    width: 340px;
    text-align: left;
    font-family: customFont1;
    font-size: 1rem;

}

label {
    display: block;
    margin-bottom: 5px;
    color: #666;
}

.input-container .password-row {
    display: flex;
    
}

p.error {
    color: red;
    margin-top: 15px;
}

p.error.message {
    font-size: 14px;
    color: red;
    text-align: center;
}

a {
    color: #666;
    text-decoration: none;
}

a:hover {
   text-decoration: underline;
   color: rgb(31, 50, 214);;
}


input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}



button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    font-size: 0.906rem;
    font-family: customFont1;
}

button:hover{
    background-color: #666;
}


.forgot-password{
    float: right;
    margin: -7px -15px 10px 0;  /*top right bottom left*/
}


.signup-link {
    margin-top: 20px;
    color: #333;
}
